

body {
  background-color: #FFFDFA;
}


.color-primary {
  color: #319795
}

.line-login {
  border-bottom: 2px solid #545c5c;
  margin-top: 20px;
  width: 40%;
}


.centrar-logo {
  display: flex;
  width: 100vh;
  margin-left: 50px;
}

.imagen {
  width: 560px;
  height: 450px;
}

.logo {
  
  width: 100px;
  height: 55px;
}

